In [1]:
2 + 2

4

In [2]:
10 - 3

7

In [3]:
923* 23

21229

In [5]:
1000 / 23

43.47826086956522

In [6]:
10 ** 3 #exponential value

1000

In [7]:
100 // 33 #integar division

3

In [8]:
100 % 23 #modulus (remainder)

8

In [9]:
'hi' + 10

TypeError: can only concatenate str (not "int") to str

In [11]:
'hi' + 'everyone' #concatenation

'hieveryone'

In [12]:
'ha' * 10 #duplication

'hahahahahahahahahaha'

In [14]:
'ha' * 'ha'

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
[0] * 10 #list item duplication

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# variables in python

In [16]:
name = "harsh jaiswal"

In [17]:
a = 10
b = 7

In [18]:
first_name = "ajay"

In [19]:
a = 12903

In [21]:
first_name = "ravi"

In [22]:
a = 0

In [25]:
a = 'zero'

In [26]:
a = False

### Operators
- Arithmetic
+, -, *, /, //, %, **
- Comparison
==, !=, >, <, >=, <=
- Assignment
=, +=, -=, *=, /=, //=, %=, **=
- Logical
and, or, not
- Bitwise (skipped)
&, |, ^, ~, <<, >>
- Membership
in, not in
- Identity
is, is not

In [27]:
a,b = 10,7

In [28]:
a + b

17

In [29]:
a - b

3

In [30]:
a * b

70

In [32]:
a // b #integar division

1

In [33]:
a / b #float division

1.4285714285714286

In [34]:
a % b

3

In [35]:
a ** b

10000000

In [36]:
a < b

False

In [37]:
a > b

True

In [38]:
a <= b

False

In [39]:
a >= b

True

In [40]:
a == b

False

In [41]:
a != b

True

In [42]:
a % 2 == 0

True

In [43]:
b % 2 == 0

False

In [56]:
x = a + 10

In [57]:
x += 10 #add wahtever is in x with 10 store in x

In [58]:
x -= 5

In [59]:
x //= 10

In [60]:
x **= 10

In [61]:
a > b and a > 4

True

In [62]:
b > a and b < 5

False

In [63]:
not a > b

False

In [64]:
len(name)

13

In [65]:
not len(name) >= 15

True

In [66]:
msg = "This is a very simple message"

In [67]:
'very' in msg

True

In [68]:
'complex' in msg

False

In [69]:
colors =['red','blue','green']

In [70]:
'red' not in colors

False

In [71]:
'red' in colors

True

# 01 - FEB - 2022

In [72]:
1000 ** 3

1000000000

In [73]:
99999*77727

7772622273

In [74]:
# Integers
x = 1 
y = 24234556676
z = -4424231

In [76]:
# Floats
x = 1.10
y = 1.0
z = -35.59

In [77]:
type(x)

float

# Strings

In [78]:
name = "bruce wayne 01"

In [79]:
color = "yellow"

In [80]:
institute = "digipodium"

# booloean

In [81]:
is_coding = True

In [83]:
is_fun = True

In [84]:
are_u_bored = True

In [86]:
# NONE 
x = None

# Special Data Types

### list

In [87]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
color =['red','green','yellow']

### set

In [88]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2,'python'}
color ={'red','green','yellow'}

### Dictionary

In [89]:
car_info = {
    "brand": "Ford",
     "model": "Mustang",
    "year": 1964}

# Input

In [90]:
hero = input('who is your fav hero?')

In [91]:
name = input('enter your name :')

In [92]:
age = input('enter your age :')

In [93]:
school = input('enter your school name')

In [95]:
age = input('enter your age')
age = int(age)

In [99]:
x = '100'
y = '-90'

In [100]:
x + y

'100-90'

In [101]:
x = int(x)
y = int(y)

In [102]:
x + y

10

In [103]:
z = 1.232
z1 = int(z)

In [104]:
z

1.232

In [105]:
type(x)

int

In [106]:
print("One can believe in a story without believing it happened")

One can believe in a story without believing it happened

In [107]:
print('Brandon Sanderson','Oathbringer')

Brandon Sanderson Oathbringer

In [111]:
name = 'harry potter'

In [112]:
name

'harry potter'

In [113]:
print(name)

harry potter

In [1]:
print(1,2,3,4)

1 2 3 4

In [2]:
print(1,2,3,4,sep='#',end='&')

1#2#3#4&

# the f strings

In [3]:
qty = 10
fruit ='apple'
print('i will buy',qty,fruit,'today')

i will buy 10 apple today

In [4]:
name = "digipodium"
type_of_company ="educational"

# encloseyour variable within the {}
# to display it's value in the output
print(f"{name} is an {type_of_company} company.")

digipodium is an educational company.

In [8]:
print(f'i will purchase {qty} {fruit} today')

i will purchase 10 apple today

## Building logic with if

In [11]:
print('you see a apple seller')
q = input('do you like apples ?')

if q == 'yes' :
    print('purchase 2kg of apples')
if q == 'no' :
    print('you dont purchase apples')

you see a apple seller
purchase 2kg of apples

In [12]:
card = input("enter ur credit card number:")
if len(card) == 16:
    print("you are hacked")
if len(card) < 16:
    print("unacceptable")

unacceptable

In [3]:
x = 6
if x > 5:
    print('x is graeter than 5')
    print('this is the info we needed')
    print('with this power, comes great responsibilty')
print('the end')

x is graeter than 5
this is the info we needed
with this power, comes great responsibilty
the end

### building logic with if_elif_else

In [5]:
score = int(input('your score'))
if score >= 90:
    letter = 'A'
elif score >= 80:
    letter = 'B'
elif score >= 70:
    letter = 'C'
elif score >= 60:
    letter = 'D'
elif score >= 50:
    letter = 'E'
else:
    letter = 'F'
print(letter)

F

### Compound Statement

In [1]:
city = input("Capital of UP")
if city == "lucknow":
    print("Correct")
else:
    print("incorrect")

incorrect

In [2]:
city = input("Capital of UP")
print('Correct') if city == "lucknow" else print("u are dumb")

u are dumb