In [1]:
print('hello')

hello

In [ ]:
def fundtion_name():
    """ Docstring here"""
    statement1
    statement2
    .
    .

In [4]:
def check():
    print('This is a function')

In [5]:
check()

This is a function

In [6]:
check()
check()
check()
check()

This is a function
This is a function
This is a function
This is a function

In [14]:
def checks():
    print('This is a boring function')
checks()

This is a boring function

In [19]:
x = [1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

In [ ]:
print()

parameterized

In [25]:
def divide(a,b,c):
    ans = a/b/c
    print(ans)

In [21]:
divide(10,3,15)

0.22222222222222224

In [23]:
divide(10,10,10)

0.1

In [27]:
a = int(input('>'))
b = int(input('>'))
c = int(input('>'))
divide(a,b,c)

1.0

example

In [32]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    print(f"{old_salary} -> {new_salary}")

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    print(f"{old_salary} -> {new_salary}")

In [33]:
update_salary(30000)
update_travel_allowance(30000)

30000 -> 32700.0
30000 -> 31500.0

In [34]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary * .09
    return new_salary

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary * .05
    return new_salary

In [35]:
usal = update_salary(30000)
print(usal)

32700.0

In [36]:
update_salary(30000) * .15

4905.0

In [ ]:
update_salary(update_travel_allowance(30000))

- waf to check if a number is even or odd
- waf to remove all the vowels from a sentence passed as argument
- waf to find the second and third highest value in a list, list should be pass as argumen

In [9]:
# odd or even
for i in range(1,11):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [23]:
def even_odd(number):
    if number % 2==0:
        return 'even'
    return 'odd'

In [24]:
even_odd(546)

'even'

In [18]:
def vowel_remover(sentence):
    for vowel in 'aeiouAEIOU':
        sentence = sentence.replace(vowel,'')
    return sentence

In [19]:
vowel_remover('this is my home')

'ths s my hm'

In [20]:
def max_2_n_3(num_list):
    num_list.sort()
    return num_list[-3], num_list[-2]

In [25]:
x = [1,2,3,4,5,6,7,8,9,10,11,15]
max_2_n_3(x)

(10, 11)

In [27]:
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15]

type of parameter settings in function
- required
- default
- named
- args,kwargs

In [33]:
def add(a,b,c):
    return a + b - c

In [34]:
add(2,3,5)

0

In [35]:
add(c=3,b=5,a=2)

4

In [36]:
print(add(c=3,b=5,a=2))
print(add(10, c=4, b=3))

4
9

In [37]:
def addv2(a,b,c=0):
    return a + b + c

In [41]:
print(addv2(10,5))
print(addv2(10,5,23))
print(addv2(10,5,c = 23))
print(addv2(a=10,b=5,c=23))

15
38
38
38

In [43]:
def addv3(a=0,b=0,c=0):
    return a + b + c

In [49]:
print(addv3())
print(addv3(21))
print(addv3(c=21))
print(addv3(a=2,b=20))
print(addv3(2,c=3))
print(addv3(2,1))

0
21
21
22
5
3

In [50]:
def sum_of_evens(*numbers):
    if len(numbers) > 0:
        total = 0
        for val in numbers:
            if val % 2 == 0:
                total += val
        return total
    else:
        return 0

In [51]:
sum_of_evens(1,2,3,4,5,6,7,8,9,10,11,12,13,14)

56