# set
1. set can hold multiple Value
2. set is mutable (add,remove item)
3. set is **unindexed** and **unorder**
4. set can have only **unique values**
5. set are represented by '{ }' with comma seperated values
6. set can have mixed values inside
7. set can only hold immutable values 
8. set **cannot be nested**

#### What u need to learn
- creation
- looping
- conversion
- functions

In [3]:
x = {1,2,3,4,5}
print(x,type(x))

{1, 2, 3, 4, 5} <class 'set'>

In [5]:
y = {8,3,4,6,7,2,2,6}
print(y,type(y))

{2, 3, 4, 6, 7, 8} <class 'set'>

In [6]:
a = 10
b = 20
c = 'Hamon'
d = {a,b,c}
print(d)

{10, 20, 'Hamon'}

In [7]:
x = {} # empty dictionary
xs = set() #empty set
print(type(x),type(xs))

<class 'dict'> <class 'set'>

In [8]:
z = {1,1,1,1,1,1,2,2,2,2,2}
z

{1, 2}

In [9]:
z = {1,1,1,1,1,1,2,2,2,2,2}
print(z , type(z))

{1, 2} <class 'set'>

In [5]:
names = {'Alex', 'John', 'Mary', 'Steve', 'John', 'Steve', 'Steve','Alex','alex'}
print(names)

{'Steve', 'John', 'Mary', 'alex', 'Alex'}

In [41]:
x = set("helloword")
print(x)

{'r', 'l', 'w', 'e', 'h', 'o', 'd'}

In [6]:
x = set('encapsulation')
print(x)

{'n', 'c', 't', 'o', 'u', 'a', 'l', 'i', 's', 'p', 'e'}

In [7]:
# checking if all the characters in a string are unique in one line of code
len(set('mugdha'))==len("mugdha")

True

In [18]:
len(set('mugdhamugdha'))==len("mugdha")

True

In [20]:
len(set("mugdha"))==len("harshm")

True

In [9]:
nums = set([1,2,3,4,5,6,7,8,9,1,2,3,4,4,])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
for n in nums: 
    print ( n ,end =" ")

1 2 3 4 5 6 7 8 9

In [11]:
for name in names:
    print (name , end =" ")

Steve John Mary alex Alex

In [44]:
for char in x:
    print (char, end =" ")

r l w e h o d

In [32]:
x = {1,2,"hello",(1,2,3)}
x

{(1, 2, 3), 1, 2, 'hello'}

In [45]:
x = {1,2,'uwuwuwuwu'}
x

{1, 2, 'uwuwuwuwu'}

### conversion
- list <-> set <-> tuple <-> list

In [46]:
x= [1,2,3,2,3,1]
xt = tuple(x)
xs =set(x)
print(x,xt,xs)

[1, 2, 3, 2, 3, 1] (1, 2, 3, 2, 3, 1) {1, 2, 3}

In [47]:
xl = list(xs)
print(xs,xl)

{1, 2, 3} [1, 2, 3]

## functions
- adding values
  - add
  - update
- removing values
   - remove
   - discard
   - pop
   - clear
- set implemention
  - unoin
  - intersection
  - difference
  - symetric difference
  - is_superset
  - is_disjoint
  - is_subset

In [18]:
books = set()
books.add('snowwhite') #to add single element
books.add('snow')
books.add('white')
books

{'snow', 'snowwhite', 'white'}

In [19]:
books.update(['snowwhite','hello']) ## to add more than one element in one go
books.update(('The final','The well'))  
books

{'The final', 'The well', 'hello', 'snow', 'snowwhite', 'white'}

In [20]:
books.remove('hello')
print(books)

{'snowwhite', 'The final', 'The well', 'snow', 'white'}

In [69]:
books.pop()

'snow'

In [70]:
books.clear()

In [71]:
books

set()

In [77]:
s1 = {1,2,3,4,5,7,8}
s2 ={4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
s1|s2 #pipe is used to perform unioin

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
s1.intersection(s2)

{4, 5, 7, 8}

In [80]:
s1&s2 #pipe is used to do intersection

{4, 5, 7, 8}

In [81]:
s3 ={11,12,13,14,15,16,17}
s4 ={9,0,8,2,5}

In [82]:
s1.difference(s2)

{1, 2, 3}

In [83]:
s2.difference(s1)

{6}

In [84]:
s2.difference(s3)

{4, 5, 6, 7, 8}

In [87]:
s1 -s2# used to perform difference

{1, 2, 3}

In [86]:
s2-s3

{4, 5, 6, 7, 8}

## symmetric diiference

In [88]:
s1.symmetric_difference(s2) #s1 and s2 unique values only

{1, 2, 3, 6}

In [91]:
s2^ s3# ^ used to perform symmetric difference

{4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 16, 17}

In [92]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}
s3 = {11,12,13}
s4 = {11,13,5}

In [93]:
s2.issubset(s3)

False

In [94]:
s1.isdisjoint(s3)

True

In [1]:
text = '   this is not a good string           '
" ".join(text.split())

'this is not a good string'

In [2]:
text.strip()

'this is not a good string'

In [3]:
text = 'this is some text' 
for word in text.split():
    print(word+"aye")

thisaye
isaye
someaye
textaye